
.general{
    height: 100vh;
    width: 100vw; 
    position: absolute;   
}

.score{
    height: 5vh;
    width: 100vw;
    background-color: red;
}

.vida{
    height: 10vh;
    width: 100vw;   
    background-color: burlywood; 
}

.divisor{
    height: 20vh;
    width: 100vw;
    background-color: blue;
}

.boton{
    height: 3em;
    width: 5em;
    background-color: chartreuse;}

.boton_desabilitado{
    height: 3em;
    width: 5em;
    color: chartreuse;
}