*{
    padding: 0em;
    margin: 0em;
}

.secView{
    height: 100vh;
    width: 100vw;
}
h1{
    color: orange;
}
/*Estilos del menu principal*/
.menuPrincipal{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    background-image: url(/img/menuScreen.png);
    background-color: black;
    background-size: cover;
    z-index: -2;

}

.cajaMenu{
    height: 10em;
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    border: white solid 0.3em;
    border-radius: 1em;
    margin-top: 10em
}




#intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: url(/img/art-of-fighting-10.jpg); */
    background-image: url(/img/snkScreen.png);
    background-size: cover;
    z-index: -2;
}


/*Estilos del menu de seleccion de personajes*/
.upVs{
    height: 10vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.personaje{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;   
}

.picFighter{
    width: 8vw;
    height: 20vh;
    margin: 1em;
    transition: 0.5s;
    border-radius:0.5em; 
    filter: grayscale(0%) blur(0px);  
    border: orange solid 0.3em; 
}

.picFighter:hover{
    cursor:pointer;
}
.picdelReves:hover{
    cursor:pointer;
}
.picdelReves{
    width: 8vw;
    height: 20vh;
    margin: 1em;
    transition: 0.5s;
    border-radius:0.5em; 
    filter: grayscale(0%) blur(0px); 
    transform: scaleX(-1);
    border: orange solid 0.3em; 
}
/*Estilos de la pantalla de seleccion de mapa*/
.picStage{
    width: 15vw;
    height: 22vh;
    margin: 1em;
    transition: 0.5s;
    border-radius:0.5em;  
    border: orange solid 0.3em; 
}
.picStage{
    cursor:pointer;
}

.seleccionado{
    transition: 0.5s;
    filter: grayscale(100%) blur(2px);

}

.seleccionados{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#pantalla7{
    background-color: black;


}

#pantalla3{
    background-color: black;

}

#pantalla4{
    background-color: black;

}
#pantalla10{
    background-color: black;
}

.equipos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

#escenario{
    height: 100vh;
    width: 100vw;
    position: absolute;   
    z-index: -1;    
}


/*Pantalla de lucha*/
#pantallaLucha{
    height: 100vh;
    width: 100vw;    
}

.luchadores1{
    width: 20vw;
    height: 40vh;
    margin: 1em;
    transition: 0.8s;
    border-radius:0.5em; 
}
.luchadores2{
    width: 20vw;
    height: 40vh;
    margin: 1em;
    transition: 0.8s;
    border-radius:0.5em; 
    transform: scaleX(-1);
}


.luchadoresDerrotados{
    width: 20vw;
    height: 30vh;
    margin: 1em;
    transition: 0.5s;
    border-radius:0.5em; 
    filter: grayscale(100%) blur(2px); 
}


.general{
    height: 100vh;
    width: 100vw; 
}

.score{
    height: 5vh;
    width: 100vw;
}

/*Barras de vida de los personajes durante el combate*/

.vida{
    height: 15vh;
    width: 100vw;  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
} 

.barraVida1{
    height: 4vh;
    width: 40vw;   
    border: white solid 0.3em;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 1em;  
} 

#vida1{
    height: 4vh;
    width: 40vw;
    background-color: yellow;
    border-radius: 0.5em;
    transition: width 0.5s;

}

.barraVida2{
    height: 4vh;
    width: 40vw;   
    border: white solid 0.3em;
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center; 
    border-radius: 1em;  
} 

#vida2{
    height: 4vh;
    width: 40vw;
    background-color: yellow;
    border-radius: 0.5em; 
    transition: width 0.5s;
}

.centroBarraVida{
    height: 10vh;
    width: 5vw;
    border: white solid 0.3em;
    margin:0.3em;
    border-radius: 0.31em;
}

#time{
    height: 10vh;
    width: 5vw;
}

.divisor{
    height: 40vh;
    width: 100vw;
}


.personajes{
    height: 30vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.boton{
    height: 3em;
    width: 5em;
    background-color: chartreuse;
}

.boton_desabilitado{
    height: 3em;
    width: 5em;
    color: chartreuse;
}

/*PANTALLA DE RESULTADO DE LA PARTIDA 1 vs 1*/
.resultado{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: black;
    color: orange;
}

.resultadoLuchadores{
    height: 70vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.resultadoTeam{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: black;
    color: orange;
}

.resultadoLuchadoresTeam{
    height: 80vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.resultadoTexto{
    border: white solid 0.3em;
    width: 50vw;
    height: 10vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    border-radius: 1em;
    margin: 1em;
}
.luchadoresTeam1{
    width: 12vw;
    height: 24vh;
    margin: 1em;
    transition: 0.8s;
    border-radius:0.5em; 
}
.luchadoresTeam2{
    width: 12vw;
    height: 24vh;
    margin: 1em;
    transition: 0.8s;
    border-radius:0.5em; 
    transform: scaleX(-1);
}

#escenarioTeam{
    height: 100vh;
    width: 100vw;
    position: absolute;   
    z-index: -1;    
}

#pantallaLuchaTeam{
    height: 100vh;
    width: 100vw;    
}

.barraVida3{
    height: 4vh;
    width: 40vw;   
    border: white solid 0.3em;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 1em;  
} 

#vida3{
    height: 4vh;
    width: 40vw;
    background-color: yellow;
    border-radius: 0.8em;
    transition: width 0.5s;

}

.barraVida4{
    height: 4vh;
    width: 40vw;   
    border: white solid 0.3em;
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center; 
    border-radius: 1em;  
} 

#vida4{
    height: 4vh;
    width: 40vw;
    background-color: yellow;
    border-radius: 0.em; 
    transition: width 0.5s;
}
#playAgain:hover{
    cursor: pointer;
}
#playAgain2:hover{
    cursor: pointer;
}
.pulsar:hover
{
    cursor: pointer;
}