*{
    padding: 0em;
    margin: 0em;
}


.secView{
    height: 100vh;
    width: 100vw;
}

.menuPrincipal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personaje{
    display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;   
}

.picFighter{
    width: 12em;
    height: 12em;
    border: 0.5em solid white;
    margin: 1em;
    transition: 0.5s;
}

.seleccionado{
    border: 0.5em solid blue;
    transition: 0.5s;
}